.text-size-h1 {
    font-size: $text-size-5xl;
}

.text-size-h2 {
    font-size: $text-size-4xl;
}

.text-size-h3 {
    font-size: $text-size-3xl;
}

.text-size-h4 {
    font-size: $text-size-2xl;
}

.text-size-h5 {
    font-size: $text-size-xl;
}

.text-caption {
    font-size: $text-size-lg;
}

.text-small {
    font-size: $text-size-sm;
}

.text-smaller {
    font-size: $text-size-xs;
}

.mb-05 {
    margin-bottom: 0.5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-6 {
    margin-bottom: 6rem;
}

.mb-12 {
    margin-bottom: 12rem;
}

.mb-15 {
    margin-bottom: 15rem;
}
