:root{
    // Colors
    --bg-color: #222831;
    --fg-color: #393E46;
    --base-color: #F96D00;
    --white-color: #F2F2F2;
}

// Body-texts Sizes
$text-size-xs: 0.38rem;
$text-size-sm: 0.62rem;
$text-size-md: 1rem;
$text-size-base: 1.8rem;
// Headings Sizes
$text-size-lg: 1.62rem;
$text-size-xl: 2.62rem;
$text-size-2xl: 4.24rem;
$text-size-3xl: 6.85rem;
$text-size-4xl: 11.09rem;
$text-size-5xl: 17.94rem;