:root {
    // Colors
    --bg-color: #f5ecb9;
    --fg-color: #e2a455;
    --base-color: #90b04c;
    --black-color: #464332;
    --white-color: #fff;
    --red-color: #E8625C;
}

// Body-texts Sizes
$text-size-xs: 0.38rem;
$text-size-sm: 0.62rem;
$text-size-md: 1rem;
$text-size-base: 1.8rem;
// Headings Sizes
$text-size-lg: 1.62rem;
$text-size-xl: 2.62rem;
$text-size-2xl: 4.24rem;
$text-size-3xl: 6.85rem;
$text-size-4xl: 11.09rem;
$text-size-5xl: 17.94rem;
