.menu {
    margin-top: calc(101px + 60px);
    position: relative;

    &__heading-2 {
        padding: 0 0.5rem;
        text-align: center;
    }

    &__list {
        padding: 0 1rem;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 41.5rem));
        grid-row-gap: 3.5rem;
        grid-column-gap: 2rem;
        justify-content: center;
    }

    &__item {
        min-height: 23rem;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
    }

    &__pizza-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        position: absolute;
        inset: 0;
    }

    &__info {
        width: 100%;
        min-height: 50%;
        border-radius: 5px;
        font-size: 1.4rem;
        color: var(--white-color);
        padding: 0.5rem;
        background-color: rgba(#000, 0.4);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        z-index: 5;

        &-heading-5 {
            margin-bottom: 1rem;
            font-size: 2rem;
            font-family: inherit;
        }

        &-ingredients {
            max-width: 30rem;
            margin-bottom: 0.5rem;
        }

        &-params {
            display: flex;
            align-items: center;
            gap: 1rem;

            &--left {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                button {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    background-color: var(--white-color);
                    color: var(--black-color);
                    font-weight: 600;
                    border: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
            }
        }
    }

    .btn--primary {
        border-radius: 5px;
    }

    &__summary {
        width: 100%;
        padding: 1rem;
        background-color: var(--fg-color);
        color: var(--white-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 20;
        font-weight: 700;

        &--left {
            display: flex;
            align-items: center;
            gap: 3rem;
        }

        .btn--link {
            display: flex;
            align-items: center;
            font-weight: 700;
        }
    }
}
