.btn {
    padding: 0.5rem 1.3rem;
    font-size: inherit;
    color: inherit;
    border: none;
    cursor: pointer;

    &--primary {
        display: inline-block;
        font-family: inherit;
        color: var(--white-color);
        background-color: var(--base-color);
        border-radius: 10px 0;
    }

    &--ghost {
        font-family: inherit;
        background-color: transparent;
    }

    &--link:visited,
    &--link:link{
        font-weight: 600;
        text-decoration: underline;
        font-size: inherit;
    }
}
